body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
}

a,
a:hover {
    text-decoration: none;
    color: rgb(255, 70, 5);
}
a:hover {
    opacity: 0.6;
}

ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}

header {
    background: #eee;
}

header nav ul{
    display: flex;
    flex-direction: row;
}

header nav ul li {
    padding: 24px 48px;
}

.content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 60vh;
    align-items: center;
}

#ProductList .product_list {
    display: flex;
    flex-wrap: wrap;
}

#ProductList .product_list .product_item img {
    max-height: 64px;
    width: 64px;
    margin-right: 12px;
}

#ProductList .product_list .product_item {
    padding: 6px 12px;
    margin: 12px 12px;
    border-radius: 12px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 40%;
    min-width: 300px;
}


#ProductDetail .product_detail__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

#ProductDetail .product_detail__wrapper .side_image,
#ProductDetail .product_detail__wrapper .side_detail { 
    flex: 50%;
    min-width: 300px;
}