body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
}

a,
a:hover {
    text-decoration: none;
    color: rgb(255, 70, 65);
}
a:hover {
    opacity: 0.6;
}

ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}

.error {
    color: red;
}
.card {
    padding: 6px 12px;
    border-radius: 12px;
    border: 1px solid #ccc;
}

.header_line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    background: #fff;
    border-bottom: 1px solid #ccc;
}

header nav ul{
    display: flex;
    flex-direction: row;
}

header nav ul li {
    padding: 24px 48px;
}

input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 4px 8px;
    margin: 20px 12px;
}

input[type="submit"] {
    background: none;
    border: 1px solid #ccc;
    padding: 8px 16px;
    border-radius: 16px;
    margin: 20px 0;
}

input[type="submit"]:hover {
    background: #eee;
}

.content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 60vh;
    align-items: center;
}

#ProductList .product_list {
    display: flex;
    flex-wrap: wrap;
}

#ProductList .product_list .product_item img {
    max-height: 64px;
    width: 64px;
    margin-right: 12px;
}

#ProductList .product_list .product_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 40%;
    min-width: 300px;
}


#ProductDetail .product_detail__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

#ProductDetail .product_detail__wrapper .side_image {
    max-width: 200px;
}

#ProductDetail .product_detail__wrapper .side_image,
#ProductDetail .product_detail__wrapper .side_detail { 
    flex: 50%;
    min-width: 300px;
}