body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
}

a,
a:hover {
    text-decoration: none;
    color: rgb(255, 70, 65);
}
a:hover {
    opacity: 0.6;
}

ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}

.error {
    color: red;
}
.card {
    padding: 6px 12px;
    border-radius: 12px;
    border: 1px solid #ccc;
}

.card:hover {
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.1);
}

.header_line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons_line {
    display: flex;
    justify-content: space-between;
}



input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 4px 8px;
    margin: 20px 12px;
}

input[type="submit"] {
    background: none;
    border: 1px solid #ccc;
    padding: 8px 16px;
    border-radius: 16px;
    margin: 20px 0;
}

input[type="submit"]:hover {
    background: #eee;
}

.form_input {
    display: flex;
    align-items: center;
}

.form_input input {
    flex: 50%;
}



header {
    background: #fff;
    border-bottom: 1px solid #ccc;
}

header nav {
    max-width: 1200px;
    margin: auto;
}

header nav ul{
    display: flex;
    flex-direction: row;
}

header nav ul li {
    padding: 24px 12px;
}

.content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 60vh;
    align-items: center;
    margin-top: 64px;
}

@media (max-width: 479px) {
    .content {
        margin-top: 24px;
        padding: 36px 24px;
    }
}

#ProductList .product_list {
    display: flex;
    flex-wrap: wrap;
}

#ProductList .product_list .product_item img {
    max-height: 64px;
    width: 64px;
    margin-right: 12px;
}

#ProductList .product_list .product_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: auto;
    margin: 12px;
    min-width: 300px;
    max-width: 400px;
}

#ProductList .product_list .product_item .side_text {
    width: 100%;
}

#ProductDetail {
    width: 100%;
}

#ProductDetail .product_detail__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#ProductDetail .product_detail__wrapper .side_image img{
    max-width: 300px;
}

#ProductDetail .product_detail__wrapper .side_detail {
    margin-left: 24px;
}

#ProductDetail .product_detail__wrapper .side_image,
#ProductDetail .product_detail__wrapper .side_detail { 
    min-width: 300px;
}


#AccountPage {
    min-width: 340px;
}

#AccountPage> div+div {
    margin-top: 48px;
}

#AccountPage .store_list {
    display: flex;
    flex-direction: column;
}

#AccountPage .store_list .store_item {
    margin-bottom: 24px;
}

#AccountPage .store_list .store_item p {
    margin-bottom: 8px;
}