{% extends 'layout.html' %}

{% block content %}
<div id="AccountPage">
    <div>
        <div class="header_line">
            <h2>Account Details</h2>
            <a href="/change_password">Change Password</a>
        </div>
        <div class="card">
            <form action="/account" method="POST">
                <div class="form_input">
                    <label for="username">Username</label>
                    <input type="text" name="username" value="{{user.username}}">
                </div>
                <div class="form_input">
                    <label for="email">Email</label>
                    <input type="text" name="email" value="{{user.email}}">
                </div>
                <div class="form_input">
                    <input type="submit" value="UPDATE">
                </div>
            </form>
        </div>
    </div>


    <div>
        <div class="header_line">
            <h2>Stores</h2>
            <a href="/sync">Sync Store</a>
            <a href="/store">+Add Store</a>

        </div>
        <div class="store_list">
            {% if stores %}
                {% for s in stores %}
                    <div class="store_item">
                        <div class="card">
                            <p>{{s.storename}}</p>
                            <p>Address: {{s.address}}</p>
                            <div class="buttons_line">
                                <a href="/store/{{s.id}}">View</a>

                                <!--
                                {% if s.isActivated == 1 %}
                                    <a href="/store/{{s.id}}/deactivate"> Deactivate</a>
                                {% else %}
                                    <a href="/store/{{s.id}}/activate"> Activate</a>
                                {% endif %}
                                -->
                                
                                <a href="/store/{{s.id}}/delete">Delete</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h3>No stores yet.</h3>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}