{% extends 'layout.html' %}

{% block content %}
<div>
    <h2>Change Password</h2>
    <div class="card">
        <form action="/change_password" method="POST">
            <div>
                <label for="old_password">Old Password</label>
                <input type="text" name="old_password">
            </div>
            <div>
                <label for="new_password">New Password</label>
                <input type="text" name="new_password">
            </div>
            <div>
                <input type="submit" value="CHANGE">
            </div>
        </form>
    </div>
    <p class="error">{{err}}</p>
</div>
{% endblock %}