{% extends 'layout.html' %}

{% block content %}
<div id="ProductList">
    {% if products %}
        <h2>Products</h2>
        <div class="product_list__container">
            <div class="product_list">
                {% for p in products %}
                    <div class="product_item card">
                        <img src="{{ p["image"] }}" alt="">
                        <div class="side_text">
                            <p>{{p["title"]}}</p>
                            <p>Stock: {{p["stock"]}}</p>
                            <div class="buttons_line">
                                <a href="/product/{{p["id"]}}">View</a>
                                <a href="/product/{{p["id"]}}/delete">Delete</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <p>no product  yet</p>
    {% endif %}
</div>
{% endblock %}