{% extends 'layout.html' %}

{% block content %}
<div id="StorePage">
    <div>
        <form action="/store" method="POST">
           <div class="form_input">
                <label for="store_name">Store Name</label>
                <input type="text" name="store_name" {% if store %} value="{{store.name}}" {% endif %}>
            </div>
            <div class="form_input">
                <label for="store_address">Store Address</label>
                <input type="text" name="store_address" {% if store %} value="{{store.address}}" {% endif %} >
            </div>
            <div class="form_input">
                <label for="store_api_key">STORE API KEY</label>
                <input type="text" name="store_api_key" {% if store %} value="{{store.api_key}}" {% endif %}>
            </div>
            <div class="form_input">
                <label for="store_password">STORE PASSWORD</label>
                <input type="text" name="store_password" {% if store %} value="{{store.api_key}}" {% endif %}>
            </div>
            <div>
                {% if store %} 
                <input type="submit" value="UPDATE STORE">
                {% else %}
                <input type="submit" value="ADD STORE">
                {% endif%}
            </div>
        </form>
        
    </div>

    {{err}}
</div>
{% endblock %}